<template>
    <div class="grid-container">
        <app-header class="book-title" v-bind:title="bookTitle" v-bind:index="sentenceIndex" v-bind:total="totalSentences"></app-header>

        <div class="sentence">
            <div v-for="word,index in sentences[sentenceIndex]" v-bind:key="index">
                <button type="button" class="word-button" v-on:click="wordClicked(index)" v-bind:style="wordStyling(index)">{{ word }}</button>
            </div>
        </div>

        <div class="sentence-image">
            <img class="fade" v-bind:src="imagePaths[sentenceIndex]" alt="Sentence Image" v-show="showImage">
        </div>

        <div class="previous-arrow">
            <a v-on:click="decrementIndex">&#10094;</a>
        </div>

        <div class="next-arrow">
            <a v-on:click="incrementIndex">&#10095;</a>
        </div>
    </div>
</template>

<script>
import { ref } from '@vue/reactivity'
import { computed, onMounted } from '@vue/runtime-core'
import Header from '@/components/Header.vue'

export default {
  name: 'Content',
  components: {
    'app-header': Header
  },
  setup () {
    // ------------------
    // Reactive variables
    // ------------------
    const bookTitle = ref('Sight Words')
    const sentenceIndex = ref(0)
    const showImage = ref(false)
    const sentences = ref([
      // Sentence 1
      ['The', 'car', 'drives', 'on', 'the', 'road', '.'],
      // Sentence 2
      ['The', 'cat', 'takes', 'a', 'nap', '.']
    ])
    const imagePaths = ref([
      // Sentence 1
      require('@/assets/david-kovalenko-KaQK9NVOOTs-unsplash.jpg'),
      // Sentence 2
      require('@/assets/nadine-marfurt-myPAssEjNIw-unsplash.jpg')
    ])

    // ----------------------
    // Non-reactive variables
    // ----------------------
    var sentenceRead = false
    var wordsStyling = []
    var wordsClicked = []
    var englishVoice = null

    // -------------------
    // Computed Properties
    // -------------------
    const totalSentences = computed(() => sentences.value.length)

    // ---------
    // Functions
    // ---------
    const wordStyling = (index) => {
      return wordsStyling[index]
    }

    const clearCurrentVariables = () => {
      sentenceRead = false
      wordsStyling = new Array(sentences.value[sentenceIndex.value].length).fill('')
      wordsClicked = new Array(sentences.value[sentenceIndex.value].length).fill(false)
      showImage.value = false
    }

    const checkShowImage = () => {
      var numberOfLetters = sentences.value[sentenceIndex.value].length
      var numberOfLettersClicked = 0
      var letterIndex = 0

      for (letterIndex = 0; letterIndex < numberOfLetters; letterIndex++) {
        if (wordsClicked[letterIndex] === true) {
          numberOfLettersClicked += 1
        }
      }

      if (numberOfLettersClicked === numberOfLetters) {
        showImage.value = true

        if (!sentenceRead) {
          speakFullSentence()
          sentenceRead = true
        }
      }
    }

    const wordClicked = (index) => {
      const numberOfWords = sentences.value[sentenceIndex.value].length

      // First check that the index is valid based on the number
      // of words in the current sentence
      if (index < numberOfWords) {
        let previousLettersClicked = true

        // Check that prior words have already been clicked
        for (var j = 0; j < index; j++) {
          if (wordsClicked[j] === false) {
            previousLettersClicked = false
          }
        }

        // If the prior letters have been clicked, mark this letter as clicked
        if (previousLettersClicked === true) {
          wordsClicked[index] = true
          wordsStyling[index] = 'background-color: #4CAF50; color: black;'
        }

        // Speak the word that was clicked
        textToSpeech(sentences.value[sentenceIndex.value][index])

        // Check if all the letters have been clicked to show the image
        checkShowImage()
      }
    }

    const decrementIndex = () => {
      clearCurrentVariables()

      if (sentenceIndex.value === 0) {
        sentenceIndex.value = sentences.value.length - 1
      } else {
        sentenceIndex.value -= 1
      }
    }

    const incrementIndex = () => {
      clearCurrentVariables()

      if (sentenceIndex.value === (sentences.value.length - 1)) {
        sentenceIndex.value = 0
      } else {
        sentenceIndex.value += 1
      }
    }

    const textToSpeech = (textToSpeak) => {
      // Custom items that need to be updated before speaking
      if (textToSpeak === 'I') {
        textToSpeak = 'i'
      } else if (textToSpeak === ',') {
        textToSpeak = 'comma'
      } else if (textToSpeak === 'A') {
        textToSpeak = 'a'
      }

      // Create a new SpeechSynthesisUtterance object to speak the text
      var utter = new SpeechSynthesisUtterance()
      utter.rate = 1.0
      utter.pitch = 1.5
      utter.text = textToSpeak
      utter.voice = englishVoice

      // Speak!
      console.log(textToSpeak)
      console.log(englishVoice)
      window.speechSynthesis.speak(utter)
    }

    const speakFullSentence = () => {
      // If there is only one segment, don't read it again
      if (sentences.value[sentenceIndex.value].length === 1) {
        return
      }

      let sentence = ''
      for (var i = 0; i < sentences.value[sentenceIndex.value].length; i++) {
        sentence = sentence + sentences.value[sentenceIndex.value][i] + ' '
      }

      textToSpeech(sentence)
    }

    const getVoices = () => {
      return new Promise(resolve => {
        const synth = window.speechSynthesis

        const id = setInterval(() => {
          if (synth.getVoices().length !== 0) {
            resolve(synth.getVoices())
            clearInterval(id)
          }
        }, 10)
      })
    }

    onMounted(async () => {
      // Get all the voices that the browser offers
      const availableVoices = await getVoices()

      // Try to find the 'Samantha' voice (English);
      // If not then select the first voice
      for (var i = 0; i < availableVoices.length; i++) {
        if (availableVoices[i].name === 'Samantha') {
          englishVoice = availableVoices[i]
          break
        }
      }

      if (englishVoice === '') {
        englishVoice = availableVoices[0]
      }

      // Initialize the current sentence
      clearCurrentVariables()
    })

    return {
      bookTitle,
      sentenceIndex,
      showImage,
      sentences,
      imagePaths,
      totalSentences,
      wordClicked,
      decrementIndex,
      incrementIndex,
      wordStyling
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/* CSS Grid Styling
*******************/
.book-title {
  grid-area: header;
}
.sentence {
  grid-area: sentence;
}
.sentence-image {
  grid-area: image;
}
.previous-arrow {
  grid-area: previous;
}
.next-arrow {
  grid-area: next;
}

.grid-container {
  display: grid;
  grid-template-columns: 10% 25% auto 10%;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 10px;
  max-width: 1280px;
  margin: auto;
  grid-template-areas:
    "header header header header"
    "sentence sentence sentence sentence"
    "previous image image next";
}

/* Button Styling
*********************/
.sentence {
  margin: auto;
  display: inline-flex;
}

.word-button {
  background-color: #ecd5c67d;
  color: rgb(15, 15, 146);
  border: none;
  padding: 10px 10px;
  margin-top: 20px;
  margin-left: 12px;
  text-decoration: none;
  font-size: 2.8em;
  letter-spacing: 2px;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Didact Gothic', sans-serif;
}

.word-button:hover {
  color: green;
}

/* Image Styling
*********************/
.sentence-image {
  margin: auto;
}

.sentence-image img {
  max-height: 60vh;
  max-width: 100%;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0}
  to {opacity: 1}
}

/* Next Button & Previous Button Styling
*********************/
.previous-arrow, .next-arrow {
  margin: auto;
}

.previous-arrow a, .next-arrow a {
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(110,110,110,0.6);
  text-decoration: none;
}
</style>
