<template>
    <footer>
        <h5>{{ footerMessage }}</h5>
    </footer>
</template>

<script>
export default {
  name: 'Footer',
  props: { footerMessage: String }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
footer {
  text-align: center;
  margin-top: 1rem;
}
footer h5 {
  color: rgb(77, 94, 117);
}
</style>
