<template>
    <header>
        <h2>{{ title }}</h2>
        <h2>{{ index + 1 }} / {{ total }}</h2>
    </header>
</template>

<script>
export default {
  name: 'Header',
  props: {
    title: String,
    index: Number,
    total: Number
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
header  {
  display: flex;
  justify-content: space-between;
}

header h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: rgb(77, 94, 117);
  margin: 0 2rem;
}
</style>
