<template>
    <app-content></app-content>
    <app-footer class="footer" v-bind:footerMessage="footer"></app-footer>
</template>

<script>
import Content from '@/components/Content.vue'
import Footer from '@/components/Footer.vue'
import { ref } from '@vue/reactivity'

export default {
  name: 'App',
  components: {
    'app-content': Content,
    'app-footer': Footer
  },
  setup () {
    const title = ref('Vue Reading App')
    const footer = ref('Patrick Kennedy - 2021')

    return { title, footer }
  }
}
</script>

<style>
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(232, 239, 248);
  color: rgb(24, 3, 3);
  font-family: Verdana, sans-serif;
}
</style>
